---
const values = [
  [
    {
      ref: 'You will never work alone!',
      name: 'We the people',
      description:
        'Geeks, yogis, fighters, tech freaks - a jigsaw puzzle where every piece somehow adds up to an A-team-level. We’re there for one another. We genuinely care and have a hell lot of fun together.',
    },
    {
      ref: 'Speak up!',
      name: 'Tame the elephant',
      description:
        'We don’t mind doggies, but when there is an elephant in the office, we’ll sure make noise about it! We know all too well that problem-solving starts with sweeping the problem from under the carpet. We give feedback and always want to hear it, the good and the bad alike.',
    },
  ],
  [
    {
      ref: 'Step into the unknown!',
      name: 'What IS the box?',
      description:
        'Think outside the box? What even is the box? We question, we challenge assumptions and we redesign the box. We exercise creativity as a conscious approach to our work and believe that it goes hand in hand with mind wanders. Unlearn the default.',
    },
    {
      ref: 'You own it!',
      name: 'A ship with a captain',
      description:
        'Trust is a given around here. We believe it to be the setting stone for autonomy and ownership. Have an idea or a project? You know what they say: ships are not built to stay in harbor. Be the captain, set sail, don’t give in to the first iceberg.',
    },
    {
      ref: 'Stay curious!',
      name: 'It’s a moving target',
      description:
        'It’s our ever-hunger for knowledge and innovation that makes us stay on top of the game. We have a thing for experiments and we adapt swiftly. We’re not scared to take risks, because we know priceless lessons come from successes and failures alike. Learning is the name of the game.',
    },
  ],
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-8 lg:gap-12">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our Values</h2>
      <div class="grid gap-8 lg:grid-cols-2">
        {
          values.map((column, index) => (
            <div class:list={['space-y-8', index === 1 && 'lg:mt-16']}>
              {column.map((value) => (
                <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
                  <p class="text-sm">{value.ref}</p>
                  <div class="flex flex-col gap-4">
                    <h3 class="text-xl font-medium">{value.name}</h3>
                    <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                      {value.description}
                    </p>
                  </div>
                </div>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
